.main :global {
    width: 800px;
    height: 600px;
    font-size: 1.2em;

    .ant-table-thead > tr > th {
        background-color: blueviolet;
    }
}

.operation {
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
}

