.main :global {
    width: 800px;
    height: 634px;
    font-size: 1.2em;

    .ant-table-thead > tr > th {
        background-color: blueviolet;
    }

    .ant-input {
        outline: none;
    }

    .deleteCompleteBtn {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.operation {
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
}

