@import '../../styles/variables.scss';

.main {
    width: $page-width;
    height: $main-height;
    font-size: 1.2em;

    .operation {
        display: flex;
        vertical-align: middle;
        justify-content: space-evenly;
    }
}