@import '../../styles/variables.scss';

.main {
    width: $page-width;
    height: $main-height;
    font-size: 1.4em;

    .operation {
        display: flex;
        vertical-align: middle;
        justify-content: space-evenly;

        > a {
        text-decoration: none;
        color: salmon;
        }
    }
}