@import '../../styles/variables.scss';

.header {
    width: $page-width;
    height: $header-height;

    display: flex;
    justify-content: space-between;

    .homeList, .search {
        font-size: 32px;
        line-height: 80px;
    }
}


