@import '../../styles/variables.scss';

.header {
    width: $page-width;
    height: $header-height;

    display: flex;
    justify-content: space-between;

    .homeList {
        font-size: 32px;
        line-height: 80px;
        height: 80px;
    }

    h2 {
        line-height: 80px;
        margin: 0;
    }

    .search {
        @extend .homeList;
        width: 180px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &Input { 
            font-size: 12px;
            height: 24px;
            width: 130px; 
            margin-right: 15px;      
        }

        &Button {
            @extend .homeList;
        }
    }
}


